<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/styles.css" />
	<title>Little shop of horrors</title>
</head>

<body>
	<header class="header-container">
		<h1 class="header">Little shop of horrors</h1>
		<section class="right-corner-menu">
			<input type="button" onclick="location.href='/'" class="button cart-button" value="catalog">
			<%- include('login-button', locals.username) %>
		</section>
	</header>

	<section class="cart-display">
		<section class="cart-header-container">
			<h2 class="cart-header"> <%= title %> </h2>
			<% let total=0; items.forEach(item=> total = total + item.price)%>
			<p class="cart-total"> Total price: <%= total.toFixed(2) %> </p>
		</section>

			<section class="item_list">
				<% items.forEach( item=> { %>
					<section class="item">
						<h3 class="justify-center">
							<%= item.name %>
						</h3>
						<p class="justify-center">
							<%= item.description %>
						</p>
						<p class="justify-center">
							<%= item.price %>
						</p>
					</section>
					<% }) %>
			</section>

	</section>
</body>

</html>
