

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>Little shop of horrors</title>
    </head>

    <body>

        <header class="header-container">
            <h1 class="header">Little shop of horrors</h1>
			<section class="right-corner-menu">
				<%- include('login-button', locals.username) %>
			</section>
        </header>

        <section class="admin-buttons justify-center">
            <%- include('admin-buttons', locals.role) %>
        </section>

		<% if (item) { %>
			<form class="edit-item-form form" method="POST" action="/api/change_item/<%= item.id %>">
		<% } else { %>
			<form class="edit-item-form form" method="POST" action="/api/add_item">
		<% } %>

            <section class="form_element">
                <label for="name" class="label name_label">Name</label>
                <input id="name" name="name" class="input name_input"
                <% if (item) { %>
                    value= <%= item.name %>
                <% } %>
                />
            </section>
            
            <section class="form_element">
                <label for="description" class="label description_label">Description</label>
                <input id="description" name="description" class="input description_input"
                <% if (item) { %> 
                    value= <%= item.description %>  
                <% } %>
                />
            </section>

            <section class="form_element">
                <label for="price" class="label price_label">Price</label>
                <input id="price" name="price" class="input price_input"
                <% if (item) { %> 
                    value= <%= item.price %>  
                <% } %>
                />
            </section>
            
		<% if (item) { %>
            <button type="submit" class="button submit_button">Change</button>
		<% } else { %>
            <button type="submit" class="button submit_button">Add</button>
		<% } %>
        </form>

    </body>
</html>
