<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>Little shop of horrors</title>
    </head>

    <body>

        <header class="header-container">
			<%- include('admin-buttons', locals.role) %>
            <h1 class="header">Little shop of horrors</h1>
			<%- include('login-button', locals.username) %>
        </header>

        <section class="item_list">
            <% orders.forEach( order => { %>
                <section class="item">
                    <h3 class="justify-center"> <%= order.user.username %></h3>
                    <p class="justify-center"> <%= order.open ? "Open" : "Closed" %></p>
                    <button class="button add-to-cart_button" onclick="location.href='/list_order/<%= order.id %>'">view order</button>
                </section>
            <% }) %>
            
        </section>

    </body>
</html>
